/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: 'Work Sans';
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0
}

/* Assurez-vous que l'ensemble du bouton est cliquable */
#editButton {
  cursor: pointer;
}

#editButton:hover {
  text-decoration: underline;
}

#editModeHeader {
  height: 59px;
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
}

#editModeHeader h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  padding-top: 20px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

section {
  margin: 50px 0
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #B1663C
}

h1>span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
  ;
}

h2 {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;

}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
  color: black
}

nav a:hover {
  color: #B1663C;
}

li:hover {
  color: #B1663C;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;

}

#contact {
  width: 50%;
  margin: auto;
}

#contact>* {
  text-align: center;

}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Conteneur pour aligner le titre et le bouton "modifier" en ligne */
.title-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.title-container i {
  margin-left: 20px;
  margin-right: 10px;
}


input[type="submit"] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em
}

/* Partie de ce qui va réapparaître en mode édition :  */
.admin {
  display: none;
}

/**** Bouton radio filtre *******/
/* Conteneur pour afficher les boutons en ligne */
#filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Ajoute un espace entre les boutons */
  justify-content: center;
}

/* Styles pour les labels des boutons radio */
.radio-button-label {
  display: inline-flex;
  width: 179px;
  height: 36px;
  background: #fff;
  /* Fond blanc par défaut */
  color: #3D3D3D;
  /* Couleur du texte par défaut */
  border: 1px solid #1D6154;
  /* Ajouter une bordure pour les différencier */
  border-radius: 60px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Masquer le bouton radio original */
.radio-button-input {
  display: none;
}

/* Styles pour les labels des boutons radio sélectionnés */
.radio-button-input:checked+span {
  background: #1D6154;
  color: #fff;
  border-radius: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.filter-button {
  width: 179px;
  height: 36px;
  background: #1D6154;
  color: #fff;
  border: 1px solid #1D6154;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}


/******* Modal *********/

/* Styles pour le wrapper de la modale */
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  padding: 20px; /* Pour les marges internes */
  box-sizing: border-box;
}

/* Styles pour la fenêtre modale */
.modal {
  position: relative;
  height: 670px;
  width: 630px;
  max-height: 80vh; 
  max-width: 90vw; 
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px; 
  overflow: auto;
}

.modal-gallery-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.modal-gallery-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button {
  position:absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: black;
  padding: 2px;
  margin: 10px;
}


.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.image-container img {
  display: block;
  width: 50px;
  height: auto;
}



.openAddPhotoModal {
  width: 179px;
  height: 36px;
  background: #1D6154;
  color: #fff;
  border: 1px solid #1D6154;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}

.addPhotoForm {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
}

.uploadPhoto {
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative; /* Assurez-vous que le positionnement est relatif */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 420px; /* Ajustez selon vos besoins */
  height: auto; /* La hauteur doit être ajustée pour s'adapter à son contenu */
  border-radius: 3px;
  background: #E8F1F6;
  overflow: hidden; /* Cache les éléments débordants */
  padding: 20px;
}


.form-champ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px ;
  padding: 0px;
}

.form-label {
  display: flex;
  justify-content: baseline;
}

.upload-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #B9C5CC;
}

/* oups */
.upload-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
	margin-top: 1rem;
	font-size: 14px;
	color: red;
	/* display: none; */
}

.upload-button {
  width: 179px;
  height: 36px;
  background: #CBD6DC;
  color: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.upload-icon {
  font-size: 76px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centre l'icône horizontalement */
  align-items: center; /* Centre l'icône verticalement */
  margin-bottom: 10px;
  color: #B9C5CC;
}

.upload-button:hover {
  background-color: #1D6154;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 200px; 
  margin: -30px; 
  overflow: hidden; 
}

.image-preview {
  max-width: 100%; /* La largeur ne dépasse pas 100% de son conteneur */
  max-height: 100%; /* La hauteur ne dépasse pas 100% de son conteneur */
  object-fit: contain; /* Ajuste la taille tout en préservant le ratio d'aspect */
  display: block; /* Assurez-vous que l'image est affichée en bloc */
}

/* Input pour le téléchargement de la photo */
input[type="file"] {
  display: none;
}

/* Styles pour les labels et les inputs */
.form-label {
  display: block;
  margin-bottom: 5px;
}

.text-input,
.select-category, 
.file-upload,
input[type="button"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: 1px solid #ccc; /* Ajout de la bordure */
}

/* Ligne horizontale */
.form-hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 90%;
}

/* Conteneur pour centrer le bouton de soumission */
.submit-button-container {
  display: flex;
  text-align: center;
  justify-content: center; /* Centrer le bouton */
  width: 100%; 
}

.submit-button {
    width: 180px; /* Ajustez la largeur du bouton selon vos besoins */
    height: 36px; /* Ajustez la hauteur du bouton selon vos besoins */
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin: 10px; /* Centrer le bouton avec une marge autour */
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button.enabled {
  background-color: #1D6154;
}

.submit-button.enabled:hover {
  text-decoration: underline;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.validate-button {
  background: #1D6154;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: not-allowed;
  opacity: 0.5;
  font-size: 16px;
}

.validate-button.active {
  background: green;
  cursor: pointer;
  opacity: 1;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  color: #1D6154;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
}

/* Styles pour le bouton de retour */
.back-arrow .close {
  position: relative;
  top: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.back-arrow {
  position:absolute;
  top: 0px;
  left : 10px;
  color: black;

}
.close {
  right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}