/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: space-between;
	margin: 50px 0
}

/* Assurez-vous que l'ensemble du bouton est cliquable */
#editButton {
  cursor: pointer;
}

#editButton:hover {
  text-decoration: underline;
}

#editModeHeader {  
  height: 59px;
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
}
#editModeHeader h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  padding-top: 20px;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: black
}

nav a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Conteneur pour aligner le titre et le bouton "modifier" en ligne */
.title-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}
.title-container i {
	margin-left: 20px;
	margin-right: 10px;
}


input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Partie de ce qui va réapparaître en mode édition :  */
.admin {
  display: none;
}

/* Conteneur pour afficher les boutons en ligne */
#filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajoute un espace entre les boutons */
  justify-content: center;
}

/* Styles pour les labels des boutons radio */
.radio-button-label {
  display: inline-flex;
  width: 179px;
  height: 36px;
  background: #fff; /* Fond blanc par défaut */
  color: #3D3D3D; /* Couleur du texte par défaut */
  border: 1px solid #1D6154; /* Ajouter une bordure pour les différencier */
  border-radius: 60px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Masquer le bouton radio original */
.radio-button-input {
  display: none;
}

/* Styles pour les labels des boutons radio sélectionnés */
.radio-button-input:checked + span {
  background: #1D6154;
  color: #fff;
  border-radius: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.filter-button {
  width: 179px;
  height: 36px;
  background: #1D6154;
  color: #fff;
  border: 1px solid #1D6154;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  flex-grow: 1;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-height: 60vh;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none; 
  z-index: 1000;  /* pour qu'elle apparaisse au dessus des autres éléments*/
  padding: 50px;
  padding-bottom: 100px;
  overflow: auto;
}

.modal-gallery-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colonnes de taille égale */
  gap: 20px;
  width: 100%;
  margin-bottom: 20px; /* Pour ajouter de l'espace entre la galerie et le bouton */
}

.modal-gallery-content img {
  width: 15%;
  height: auto;
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content h2 {
  margin-bottom: 20px;
}


.image-container {
  position: relative;
  display: inline-block; 
  margin: 10px; 
}


.image-container img {
  display: block;
  width: 50px; 
  height: auto;
}

/* Styles pour l'icône de suppression */
.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 5px;
  cursor: pointer;
  z-index: 10; /* S'assurer que l'icône est au-dessus de l'image */
  color: white;
}
/* div qui contient le logo de suppression */
.delete-container {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  padding: 2px;
}

.openModal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.openAddPhotoModal {
  width: 179px;
  height: 36px;
  background: #1D6154;
  color: #fff;
  border: 1px solid #1D6154;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
} 


.addPhotoForm {
  display: flex;
  flex-direction: column;
}

.uploadPhoto {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex; 
  flex-direction : column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 420px;
height: 169px;
border-radius: 3px;
background: #E8F1F6;
}
.upload-icon {
  font-size: 50px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  color: #B9C5CC;
}
.upload-button {
  width: 179px;
  height: 36px;
  background: #CBD6DC;
  color: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.upload-button:hover {
  background-color: #1D6154;
}

/* Input pour le téléchargement de la photo */
input[type="file"] {
  display: none;
}

/* Styles pour les labels et les inputs */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
input[type="button"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ligne horizontale */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Bouton de soumission */
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 36px;
  background: grey;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button.enabled {
  background-color: #1D6154;
}

.submit-button.enabled:hover {
text-decoration: underline;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal .back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Styles pour le bouton "valider" */
.validate-button {
  background: #1D6154; /* Couleur de fond initiale */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: not-allowed; /* Curseur initial désactivé */
  opacity: 0.5; /* Opacité initiale */
  font-size: 16px;
}

.validate-button.active {
  background: green; /* Change la couleur de fond quand activé */
  cursor: pointer; /* Change le curseur quand activé */
  opacity: 1; /* Change l'opacité quand activé */
}

/* Supprime les styles par défaut du bouton */
button,
input[type="submit"] {
  background: none;
  border: none;
  color: #1D6154;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-preview-container img {
  max-width: 100%;
  height: auto;
}


.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: auto;
  margin: 30px;
}